.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.inner{
    width: 1200px;
    margin: 0 auto;
}

h2.headline{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 130px 0 36px;
}
h2.headline-sm{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
h3.headline{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}