@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: 400;
};
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2') format('woff2');
    font-weight: 300;
};